*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
  font-family: monospace;
}
body{
  width:  100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  background-color: white;
  overflow-y: hidden;
  padding:  1rem;
}
nav{
  width: calc(100% - 2rem);
  margin: 1rem;
  height: auto;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  gap: 0;
  padding: 0;

  border: solid 0.18rem black;
  border-radius: 10px;
}
.logo{
  margin: 0;
  width:6rem;
  flex:0 0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-left: 1rem;
}
svg polygon{
fill:#3b82f6;
}
.logo svg{
  width:100%;
  height:auto;
  display:block;
  padding: 0;
  margin: 0;
}
.selectMode{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.navbar{
  flex: 1;
  padding: 0.9rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
select:focus{
  outline: none;
}

.btn{
  background-color: white;
  border: 2px solid black;
  padding: clamp(0.1rem, 2vw, 0.3rem);
  box-shadow: 4px 4px 0 0 black;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 600;
  flex-shrink: 0;
}
.btn:active{
  animation: btnAnimation 1s ease-in
}
@keyframes btnAnimation {
  0%{
    background-color: rgb(20, 20, 20);
    transform : scale(0.9);
    box-shadow: 6px 6px 0 0 black;
  }
  100%{
    background-color: white;
  }
}

.result{
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  border: solid 0.18rem black;
  border-radius: 10px;

  opacity: 0;
  transform: translateY(calc(100vh + 20px));
  transition: transform 0.45s ease-out, opacity 0.35s ease-out
}
.result.show{
  opacity: 1;
  transform: translateY(20px);
}
.result > #speed, .result > #acc{
  font-size: clamp(1.3rem, 2.5vw, 2rem);
}

#reset{
  background-color: rgb(255, 0, 0);
}
main{
  margin: 0;
  width: 100%;
  max-height: 100%;
  min-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hidden-input{
  position: absolute;
  opacity: 0;
  cursor: none;
  z-index: -1;
  pointer-events: none;
}
.cursor{
  display: inline-block;
  position: absolute;
  height: 0.2rem;
  z-index: 99;
  background-color: rgb(82, 81, 81);
  pointer-events: none;
  animation: flicker 1s step-start infinite;
}
@keyframes flicker {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.typeArea{
  margin: 2rem;
  width: 100%;
  max-width: 80ch;
  height: 30ch;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center ;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 0.18rem black;
  border-radius: 10px;
  padding: clamp(1rem, 3vw,2rem); 
  z-index: 1;
}
.typeArea div{
  width: auto;
  height: auto;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  white-space: normal;
}
.typeArea span{
  z-index: 2;
  display: inline;
  min-width: 0.5rem;
  font-size: clamp(1.8rem, 2.8vw, 2.5rem);
}


.before-typing{
  color: grey;
}
.correct{
  color: rgb(2, 255, 2);
}
.incorrect{
  color: rgb(255, 0, 0);
}
.selected{
  background-color: yellow;
}

@media (max-width: 900px){
  nav{

  }
  .navbar{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.8rem;
    font-size: 1.5rem;
  }

  .btn{
    font-size: 0.95rem;
  }

  .typeArea{
    max-width: 95%;
  }

}

@media (max-width:600px) {
  body{
    justify-content: space-evenly;
    padding: 1rem 0;
  }
  nav{
    gap:0;
    font-size: 1rem;
    margin: 0.2rem;
  }
  .logo{
    padding-left: 5px;
    padding-right: 0;
    width:5rem;
  }
  .logo svg{
    
    padding: 0;
    margin: 0;
  }
  .navbar{
    padding: 0.5rem;
  }
  .navbar .btn{
    box-shadow: 2px 2px 0 0 black;
    font-weight: 525;
  }
  .typeArea{
    height: 40ch;
    margin: 0.3rem;
  }
  .result{
    font-size: 0.9rem;
    margin: 0.3rem;
  }
}

@media (orientation: portrait) {
  .typeArea{
    min-height: 200px;
    margin: 1rem;
  }
}
